body{
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.conteiner{
    display: flex;
    padding: 50px;
    padding-bottom: 30px;
    
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}
h1{
    font-size: 40px;
}
.img-size{
    width: 550px;
}
.helf-width{
    width: 50%;
}
.color-orange{
    color: red;
    font-weight: 800;
    font-size: 30px;
}
.orange{
    color: orange;
}

p{
    text-align:justify;
    width: 450px;
}
.decoration{
    text-decoration: none;
    padding: 10px 20px;
    background-color: seagreen;
    color: seashell;
    border-radius: 5px;

}

.color-perpule{
    color: purple;
}
.Cat{
    text-decoration: none;
    padding: 10px 20px;
    background-color: purple;
    color: seashell;
    border-radius: 5px;
}
#imgg{
    width:500px;
    height: 400px;
}

.helfwidth{
    display: flex;
    width: 50%;
    padding: 50px;
    margin: 30px;
    
}
.side-ho{
    padding-left: 70px;
    padding-right: 25%;
    background-image: url(img/my-bg.png);
    
}
.side-ho p{
    color: wheat;
    font-weight: 700;
}

h2{
    color: purple;
}

.helf{
    display: flex;
    margin-left: 90px;
    padding: 40px;
    
}
.part1{
    width: 50%;
    margin-right: 20px;
    padding-left: 20px;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    border-left: 6px solid purple;
    border-radius: 6px;
}
.part2{
    width: 50%;
    margin-left: 20px;
    padding-left: 20px;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    border-left: 6px solid purple;
    border-radius: 6px;

}
.weight{
    margin-left: 40px;
    margin-top: 50px;
}
.box{
    
}
.copy{
    text-align: center;
    color: gray;
    margin-left: 45%;
    font-weight: 800;
}
